.sidebar {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    padding: 16px;
    box-shadow: 0 1px 6px 0 #20212447;
}
.sidebar ul {
    padding: 12px;
}
.sidebar li {
    margin-bottom: 20px;
    list-style-type: none;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: inline-block;
}
.sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
